body{
    margin: 0;
    background-color: rgba(160,160,160,0.8);

}
main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/rioBlancoNegro.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(72,72,72,.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
nav a{
    color: white;
    text-decoration: none;
}
nav>ul{
    margin: 0;
}
nav>ul>li{
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
}
nav>ul>li>ul{
    position: absolute;
    display: none;
}
nav>ul>li:hover{
    background-color: rgba(72,72,72);
}
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li {
    display: block;
    text-align: left;
    padding: 1em 2em;
    background-color: rgb(72,72,72);
}
nav>ul>li>ul>li:hover{
    background-color: black;
}
nav>ul>li>ul>li>ul{
    display: none;
    position: absolute;
    top: 0;
    left: 75%;
}
nav>ul>li>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li>ul>li{
    background-color: rgb(72,72,72);
    display: block;
    padding: 1em 1em;
}
nav>ul>li>ul>li>ul>li:hover{
    background-color: white;
}
nav>ul>li>ul>li>ul>li:hover>a{
    color: black;
}
div{
    position: absolute;
    height: 150px;
    width: 400px;
    top: calc(50% - 75px);
    left: calc(50% - 200px);
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.75);
    border: .5em white solid;
    border-radius: 1em;
}
small{
    font-size: .45em;
}
h1{
    font-size: 2em;
}
div>p>a{
    color: yellow;
}
section{
    position: absolute;
    top:100%;
    margin: 1em;
}
article{
    position: relative;
}
article>p{
    text-align: justify;
}
#sobreMi>p{
    position: relative;
    display: inline-block;
    width: 70%;
}
#yo{
    background-image: url("../img/yo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    top: 0;
    left: 75%;
    height: 100%;
    max-width: 25%;
}
#iaw{
    background-image: url("../img/iaw.png");
}
#asgbd{
    background-image: url("../img/asgbd.jpg");
}

@media (max-width: 600px){
    nav{
        display: none;
    }
    div{
        width: 96%;
        height: 200px;
        left: calc(50% - 188px);
        top: 15%;
    }
    #yo{
        display: none;
    }
    #sobreMi>p{
        width: 100%;
        display: block;
    }
}